<div class="thumb-card" [ngClass]="{'thumb-card-list': listType === 'list', 'thumb-card-grid': listType === 'grid'}" *ngIf="thumb">
    <div class="thumb-card-information">
        <div class="result-thumb result-thumb--up" *ngIf="thumb.votes.positive >= thumb.votes.negative">
            <img class="result-thumb__image" src="assets/img/thumbs-up.svg" alt="thumbs up" />
        </div>
        <div class="result-thumb result-thumb--down" *ngIf="thumb.votes.positive < thumb.votes.negative">
            <img class="result-thumb__image" src="assets/img/thumbs-down.svg" alt="thumbs down" />
        </div>
        <img class="thumb-card__image" [src]="'assets/img/celebrities/' + (thumb.picture | listTypeImage : listType)" [alt]="thumb.name">
        <div class="thumb-card__back-color"></div>
        <div class="thumb-card-content">
            <h2 class="thumb-card-content__name">{{ thumb.name | truncateText : listType === 'list' ? 100 : 18 }}</h2>
            <p class="thumb-card-content__description">{{ thumb.description | truncateText : listType === 'list' ? 100 : 70 }}</p>
        </div>
        <div class="thumbs-vote">
            <div class="thumbs-vote__since">{{ copy }}</div>
            <div class="buttons-vote">
                <button class="button-vote-thumb button-vote-thumb--up" [ngClass]="{'button-vote-thumb--selected': thumpSelected === 'up'}" [disabled]="sendingVote || voteAgain" (click)="setThumbVote('up')">
                    <img class="button-vote-thumb__image" src="assets/img/thumbs-up.svg" alt="thumbs up" />
                </button>
                <button class="button-vote-thumb button-vote-thumb--down" [ngClass]="{'button-vote-thumb--selected': thumpSelected === 'down'}" [disabled]="sendingVote || voteAgain" (click)="setThumbVote('down')">
                    <img class="button-vote-thumb__image"src="assets/img/thumbs-down.svg" alt="thumbs down" />
                </button>
                <button class="button-vote" [disabled]="thumpSelected === '' || sendingVote" (click)="sendVote()">
                    <span *ngIf="!sendingVote">{{ copyButton }}</span>
                    <svg class="button-vote__loading" *ngIf="sendingVote" version="1.1" id="L9" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
                        <path fill="#fff" d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50">
                          <animateTransform attributeName="transform" attributeType="XML" type="rotate" dur="1s" from="0 50 50" to="360 50 50" repeatCount="indefinite"></animateTransform>
                      </path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="thumb-card-votes">
        <div 
            class="thumb-votes thumb-votes--up" 
            [ngStyle]="{'width': (((thumb.votes.positive * 100) / (thumb.votes.positive + thumb.votes.negative)) | number:'1.0-1') + '%'}"
        >
            <img class="thumb-votes__image" src="assets/img/thumbs-up.svg" alt="thumbs up" />
            <span class="thumb-votes__percent">
                {{ ((thumb.votes.positive * 100) / (thumb.votes.positive + thumb.votes.negative)) | number:'1.0-1' }}%
            </span>
        </div>
        <div 
            class="thumb-votes thumb-votes--down"
            [ngStyle]="{'width': (((thumb.votes.negative * 100) / (thumb.votes.positive + thumb.votes.negative)) | number:'1.0-1') + '%'}"
        >
            <span class="thumb-votes__percent" >
                {{ ((thumb.votes.negative * 100) / (thumb.votes.positive + thumb.votes.negative)) | number:'1.0-1' }}%
            </span>
            <img class="thumb-votes__image" src="assets/img/thumbs-down.svg" alt="thumbs down" />
        </div>
    </div>
</div>
